$color_1: rgba(255, 255, 255, 0.5);
$color_2: #2ee08e;
$color_3: #4371ec;
$color_4: #ff9900;
$color_5: #b4b4e7;
$color_6: #ff3030;
$color_7: #343748;
$color_8: #ffaa00;
$color_9: #ff3738;
$color_10: #ff4e00;
