.el-input__inner,
.el-textarea__inner {
    background-color: rgba($color: #fff, $alpha: 0.3) !important;
    border: 0px !important;
    border-radius: 0 !important;
    color: #fff !important;
    height: 100%;
    min-height: 34px;
    border-radius: 2px !important;
}

.el-range-editor.el-input__inner {
    width: 100%;
}

.el-range-separator {
    color: #fff !important;
}

.el-range-editor .el-range-input {
    background: initial;
}

.el-tree {
    color: #fff;
    background: initial;
}

.el-tree-node__content {
    margin-bottom: 5px;
    background-color: initial;
}

.el-dialog {
    background: rgba(19, 21, 35, 0.9);
    box-shadow: 0px 0px 1px 5px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(56, 109, 245, 1);
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto !important;
    top: 50%;
    margin-top: 0 !important;
}

.el-dialog__title {
    color: $color_2;
}

.is-current {
    color: $color_2;
}

.el-dialog__header {
    position: relative;
    background-color: rgba(0, 6, 46, 1);
}

.el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}

.el-pager li {
    background-color: initial;
}

.el-pagination button:disabled {
    background-color: initial;
    color: #333;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
    background-color: initial;
    color: #fff;
}

.el-pagination .btn-next .el-icon,
.el-pagination .btn-prev .el-icon {
    font-size: 20px;
}

.el-step__icon.is-text {
    border: 2px solid $color_2;
}

.el-step.is-vertical .el-step__head {
    width: 1rem;
}

.el-step__icon.is-text {
    width: 10px;
    height: 10px;
    background-color: $color_2;
}

.el-step.is-vertical .el-step__line {
    left: 0.3rem;
    top: 17px;
    bottom: -12px;
    opacity: 0.5;
}

.el-input__icon {
    line-height: normal !important;
}

.el-table th,
.el-table tr {
    background-color: rgba(0, 0, 0, 0) !important;
    color: $color_2;
}

.el-table td,
.el-table th.is-leaf {
    border: 0;
}

.el-table,
.el-table__expanded-cell {
    background-color: rgba(0, 0, 0, 0) !important;
}

.el-table::before {
    height: 0;
}

.el-dialog__body {
    padding-top: 10px !important;
    background: rgba(0, 7, 58, 1);
}

.el-date-editor .el-range-input {
    color: #fff !important
}