// font-size
$spg_gis_font_1: 30px;
$spg_gis_font_2: 24px;
$spg_gis_font_3: 22px;
$spg_gis_font_4: 20px;
$spg_gis_font_5: 16px;
$spg_gis_font_6: 14px;
$spg_gis_font_7: 12px;

// box-width-height-positon
$box_modal_w_max: 837px;
$box_block_1: 280px;
$box_block_2: 150px;

$box_block_percent_1: 10%;
$box_block_percent_2: 20%;
$box_block_percent_3: 30%;
$box_block_percent_4: 40%;
$box_block_percent_5: 50%;
$box_block_percent_6: 60%;
$box_block_percent_7: 60%;
$box_block_percent_8: 60%;
$box_block_percent_9: 60%;
$box_block_percent_10: 100%;

$box_m_p_0: 5px;
$box_m_p_1: 10px;
$box_m_p_2: 15px;
$box_m_p_3: 20px;
$box_m_p_4: 25px;
$box_m_p_5: 30px;
$box_m_p_6: 35px;
